extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper justo velit, id mattis purus rutrum mollis. Aliquam iaculis gravida purus. Aenean eleifend sapien tellus, et varius velit molestie ultrices. Aenean dapibus ligula nec lacus sagittis laoreet. 

                p Mauris sodales libero ante, ac tincidunt turpis volutpat nec. Nunc semper semper odio, eu viverra arcu aliquam non. Vivamus ut turpis non ex tincidunt varius. Cras et mauris vel mi dignissim luctus et eget justo. 


            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class ="img-fluid")
        
        include ./layout/bloque_viajes
    
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2024 - 28 de Marzo de 2022
                        p.precio $2500

    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales



        