extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina 
                blockquote Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Proin porta, orci sit amet pharetra tincidunt, felis ipsum mollis dolor, in maximus elit eros vel magna. Nunc quis tortor facilisis massa lacinia aliquam. In blandit nunc ac nisi ullamcorper, eu sagittis est ullamcorper. Integer vehicula quam metus, vel bibendum lectus molestie id. Mauris sem quam, auctor eu dui accumsan, sagittis venenatis arcu. Fusce in enim ut orci sodales mollis rhoncus et lorem. 

                p Morbi quis placerat leo, non rhoncus dui. Fusce eget felis malesuada, tempor odio ac, pulvinar arcu. Ut sagittis dui non erat tempor eleifend. Donec in sodales diam. Donec venenatis ac magna in tincidunt. Donec ac tellus ornare, mattis tortor quis, viverra orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur finibus suscipit aliquet. Mauris molestie augue eu lectus blandit convallis. Fusce ullamcorper neque eu magna pulvinar vulputate. Curabitur maximus ante neque, ac interdum erat aliquam a. 

                p In hac habitasse platea dictumst. Duis posuere lobortis ex, quis consectetur augue posuere rhoncus. Cras sagittis nec sapien ac accumsan. Aenean commodo efficitur libero a semper. In tempor vel nisi nec consequat. Donec risus mauris, laoreet et posuere vel, malesuada sed nisl. Fusce sit amet leo ac mauris faucibus semper. Nullam et efficitur odio.
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="imag-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Fusce sit amet leo ac mauris faucibus semper. Nullam et efficitur odio.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="imag-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos 
                    p Fusce sit amet leo ac mauris faucibus semper. Nullam et efficitur odio.
                
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios" class="imag-fluid mb-4")
                    h2.mb-4 Los Mejores Precios  
                    p Fusce sit amet leo ac mauris faucibus semper. Nullam et efficitur odio.